@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

    body{
    background-color:#F6DFBF;
    color: #2F2926;
    background-image: url(../img/Assorted_Assets/background_stars.png);
    background-repeat: repeat;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    }

    p{
        background-color: #F6DFBF;
        color: #2F2926;
        font-family: 'Arvo', slab-serif;
    }
    h1{
        background-color: #F6DFBF;
        color: #2F2926;
        font-family: 'Caveat', handwriting;
    }
    h3{
        background-color: #F6DFBF;
        color: #2F2926;
        font-family: 'Caveat', handwriting;
    }

    header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        order: 7;
        grid-column: 8 / 15;
        grid-row: 1 / 1;
      }

      /*

      <-- None of this code works and I have no idea why not. It just creates a pillar of items.-->

      CAA-grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;
        padding: 50px;
      }

      CAA-grid-item{
        background-color: #F6DFBF;
        border: 500px solid #DE142E;
        padding: 50px;
        text-align: center;
      }



      */






    grid{
        display: grid;
        grid-template-columns: 16;
        grid-template-rows: 1;
        grid-gap: 16px;
    }

    flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }